addclient/src/conf/xml-resources/web-service-references/addserv/wsdl/localhost_8080/addserv/addserv.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://addserv/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://addserv/" name="addserv">
<types>
<xsd:schema>
<xsd:import namespace="http://addserv/" schemaLocation="http://localhost:8080/addserv/addserv?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="operation">
<part name="parameters" element="tns:operation"/>
</message>
<message name="operationResponse">
<part name="parameters" element="tns:operationResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="addserv">
<operation name="add">
<input wsam:Action="http://addserv/addserv/addRequest" message="tns:add"/>
<output wsam:Action="http://addserv/addserv/addResponse" message="tns:addResponse"/>
</operation>
<operation name="operation">
<input wsam:Action="http://addserv/addserv/operationRequest" message="tns:operation"/>
<output wsam:Action="http://addserv/addserv/operationResponse" message="tns:operationResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://addserv/addserv/helloRequest" message="tns:hello"/>
<output wsam:Action="http://addserv/addserv/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="addservPortBinding" type="tns:addserv">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="operation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="addserv">
<port name="addservPort" binding="tns:addservPortBinding">
<soap:address location="http://localhost:8080/addserv/addserv"/>
</port>
</service>
</definitions>