Airline_Client/web/WEB-INF/wsdl/localhost_8080/Airline_Server/Airline.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Airline/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Airline/" name="Airline">
<types>
<xsd:schema>
<xsd:import namespace="http://Airline/" schemaLocation="http://localhost:8080/Airline_Server/Airline?xsd=1"/>
</xsd:schema>
</types>
<message name="book_ticket">
<part name="parameters" element="tns:book_ticket"/>
</message>
<message name="book_ticketResponse">
<part name="parameters" element="tns:book_ticketResponse"/>
</message>
<message name="cancel_ticket">
<part name="parameters" element="tns:cancel_ticket"/>
</message>
<message name="cancel_ticketResponse">
<part name="parameters" element="tns:cancel_ticketResponse"/>
</message>
<message name="available_ticket">
<part name="parameters" element="tns:available_ticket"/>
</message>
<message name="available_ticketResponse">
<part name="parameters" element="tns:available_ticketResponse"/>
</message>
<message name="customer_history">
<part name="parameters" element="tns:customer_history"/>
</message>
<message name="customer_historyResponse">
<part name="parameters" element="tns:customer_historyResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="Airline">
<operation name="book_ticket">
<input wsam:Action="http://Airline/Airline/book_ticketRequest" message="tns:book_ticket"/>
<output wsam:Action="http://Airline/Airline/book_ticketResponse" message="tns:book_ticketResponse"/>
</operation>
<operation name="cancel_ticket">
<input wsam:Action="http://Airline/Airline/cancel_ticketRequest" message="tns:cancel_ticket"/>
<output wsam:Action="http://Airline/Airline/cancel_ticketResponse" message="tns:cancel_ticketResponse"/>
</operation>
<operation name="available_ticket">
<input wsam:Action="http://Airline/Airline/available_ticketRequest" message="tns:available_ticket"/>
<output wsam:Action="http://Airline/Airline/available_ticketResponse" message="tns:available_ticketResponse"/>
</operation>
<operation name="customer_history">
<input wsam:Action="http://Airline/Airline/customer_historyRequest" message="tns:customer_history"/>
<output wsam:Action="http://Airline/Airline/customer_historyResponse" message="tns:customer_historyResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://Airline/Airline/helloRequest" message="tns:hello"/>
<output wsam:Action="http://Airline/Airline/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="AirlinePortBinding" type="tns:Airline">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="book_ticket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancel_ticket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="available_ticket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="customer_history">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Airline">
<port name="AirlinePort" binding="tns:AirlinePortBinding">
<soap:address location="http://localhost:8080/Airline_Server/Airline"/>
</port>
</service>
</definitions>