Airline_Client/web/WEB-INF/wsdl/localhost_8080/Airline_Server/Airline.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://Airline/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Airline/">

<xs:element name="available_ticket" type="tns:available_ticket"/>

<xs:element name="available_ticketResponse" type="tns:available_ticketResponse"/>

<xs:element name="book_ticket" type="tns:book_ticket"/>

<xs:element name="book_ticketResponse" type="tns:book_ticketResponse"/>

<xs:element name="cancel_ticket" type="tns:cancel_ticket"/>

<xs:element name="cancel_ticketResponse" type="tns:cancel_ticketResponse"/>

<xs:element name="customer_history" type="tns:customer_history"/>

<xs:element name="customer_historyResponse" type="tns:customer_historyResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="book_ticket">
<xs:sequence>
<xs:element name="a" type="xs:string" minOccurs="0"/>
<xs:element name="b" type="xs:int"/>
<xs:element name="c" type="xs:string" minOccurs="0"/>
<xs:element name="d" type="xs:string" minOccurs="0"/>
<xs:element name="e" type="xs:int"/>
<xs:element name="t" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="book_ticketResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customer_history">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="customer_historyResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancel_ticket">
<xs:sequence>
<xs:element name="a" type="xs:string" minOccurs="0"/>
<xs:element name="b" type="xs:int"/>
<xs:element name="c" type="xs:string" minOccurs="0"/>
<xs:element name="d" type="xs:string" minOccurs="0"/>
<xs:element name="e" type="xs:int"/>
<xs:element name="t" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancel_ticketResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="available_ticket">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="available_ticketResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>