air/web/WEB-INF/wsdl/localhost_8080/air/air.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://air/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://air/">

<xs:element name="book" type="tns:book"/>

<xs:element name="bookResponse" type="tns:bookResponse"/>

<xs:element name="cancel" type="tns:cancel"/>

<xs:element name="cancelResponse" type="tns:cancelResponse"/>

<xs:element name="display" type="tns:display"/>

<xs:element name="displayResponse" type="tns:displayResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="book">
<xs:sequence>
<xs:element name="to1" type="xs:string" minOccurs="0"/>
<xs:element name="from1" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="name1" type="xs:string" minOccurs="0"/>
<xs:element name="qty1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bookResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="display">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="displayResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancel">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>