Inventory_Client/src/conf/xml-resources/web-service-references/Inventory/wsdl/localhost_8080/Inventory_Server/Inventory.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Inventory/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Inventory/" name="Inventory">
<types>
<xsd:schema>
<xsd:import namespace="http://Inventory/" schemaLocation="http://localhost:8080/Inventory_Server/Inventory?xsd=1"/>
</xsd:schema>
</types>
<message name="display">
<part name="parameters" element="tns:display"/>
</message>
<message name="displayResponse">
<part name="parameters" element="tns:displayResponse"/>
</message>
<message name="cancel">
<part name="parameters" element="tns:cancel"/>
</message>
<message name="cancelResponse">
<part name="parameters" element="tns:cancelResponse"/>
</message>
<message name="purchase">
<part name="parameters" element="tns:purchase"/>
</message>
<message name="purchaseResponse">
<part name="parameters" element="tns:purchaseResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="Inventory">
<operation name="display">
<input wsam:Action="http://Inventory/Inventory/displayRequest" message="tns:display"/>
<output wsam:Action="http://Inventory/Inventory/displayResponse" message="tns:displayResponse"/>
</operation>
<operation name="cancel">
<input wsam:Action="http://Inventory/Inventory/cancelRequest" message="tns:cancel"/>
<output wsam:Action="http://Inventory/Inventory/cancelResponse" message="tns:cancelResponse"/>
</operation>
<operation name="purchase">
<input wsam:Action="http://Inventory/Inventory/purchaseRequest" message="tns:purchase"/>
<output wsam:Action="http://Inventory/Inventory/purchaseResponse" message="tns:purchaseResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://Inventory/Inventory/helloRequest" message="tns:hello"/>
<output wsam:Action="http://Inventory/Inventory/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="InventoryPortBinding" type="tns:Inventory">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="display">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="purchase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Inventory">
<port name="InventoryPort" binding="tns:InventoryPortBinding">
<soap:address location="http://localhost:8080/Inventory_Server/Inventory"/>
</port>
</service>
</definitions>